PortLog/Connected Services/RefServPortLog/ServicioPortLog1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59720/ServicioPortLog.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFProductos" />
  <xs:element name="ProductoXId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductoXIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFProductos" minOccurs="0" name="ProductoXIdResult" nillable="true" type="q1:DtoProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarImportacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFProductos" minOccurs="0" name="DtoImp" nillable="true" type="q2:DtoImportacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarImportacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarImportacionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarProductos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFProductos" minOccurs="0" name="MostrarProductosResult" nillable="true" type="q3:ArrayOfDtoProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>