PortLog/Connected Services/RefServPortLog/ServicioPortLog.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFProductos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFProductos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DtoProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Peso" type="xs:int" />
      <xs:element minOccurs="0" name="Rut" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cod" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DtoProducto" nillable="true" type="tns:DtoProducto" />
  <xs:complexType name="DtoImportacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="Cod" type="xs:int" />
      <xs:element minOccurs="0" name="Entregado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaIngreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaSalidaPrevista" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Producto" nillable="true" type="tns:DtoProducto" />
      <xs:element minOccurs="0" name="precio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DtoImportacion" nillable="true" type="tns:DtoImportacion" />
</xs:schema>